.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  position: relative;
  max-width: 88px;
}

.options {
  position: relative;
  display: flex;
}

.options li {
  list-style: none;
}

.options li a {
  display: inline-block;
  color: #333;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}